jupyter
pygad
numpy
pandas
black[jupyter]
matplotlib
aco
pyswarms
scikit-learn
scipy
seaborn
keras
tensorflow
visualkeras
pydot 
graphviz
ann_visualizer
keras_sequential_ascii
nltk
wordcloud
text2emotion
emoji==1.7.0
simpful
tweety
selenium
scikit-fuzzy